<!-- <div id="intro-screen" class="center">
  <h2>Choose your symbol:</h2>
  <button type="button" id="choose-x" class="choose">X</button>
  <button type="button" id="choose-o" class="choose">O</button>
</div> -->

<div id="enemy-screen" class="center" *ngIf="!opponentSelected">
  <h2>Play against:</h2>
  <button
    type="button"
    id="choose-human"
    class="choose"
    (click)="humanButtonClicked()"
  >
    Human
  </button>
  <button
    type="button"
    id="choose-cpu"
    class="choose"
    (click)="cpuButtonClicked()"
  >
    Computer
  </button>
</div>

<div class="row">
  <!-- <div class="col-10 col-md-6"> -->
  <!-- <div id="game-screen" class="center" *ngIf="opponentSelected"> -->
  <div id="game-screen" class="col-10 col-md-6" *ngIf="opponentSelected">
    <table class="table table-bordered center">
      <tr>
        <td>
          <button type="button" class="cell" id="cell0"></button>
        </td>
        <td>
          <button type="button" class="cell" id="cell1"></button>
        </td>
        <td>
          <button type="button" class="cell" id="cell2"></button>
        </td>
      </tr>
      <tr>
        <td>
          <button type="button" class="cell" id="cell3"></button>
        </td>
        <td>
          <button type="button" class="cell" id="cell4"></button>
        </td>
        <td>
          <button type="button" class="cell" id="cell5"></button>
        </td>
      </tr>
      <tr>
        <td>
          <button type="button" class="cell" id="cell6"></button>
        </td>
        <td>
          <button type="button" class="cell" id="cell7"></button>
        </td>
        <td>
          <button type="button" class="cell" id="cell8"></button>
        </td>
      </tr>
    </table>
    <button type="button" id="restart">Restart</button>
    <div></div>
    <!-- </div> -->
  </div>
  <div class="col-10 col-md-auto" *ngIf="opponentSelected">
    Column for Messages
  </div>
  <div class="col-2 col-md-auto" *ngIf="opponentSelected">
    Column for Buttons
  </div>
</div>
