<!-- <div id="intro-screen" class="center">
  <h2>Choose your symbol:</h2>
  <button type="button" id="choose-x" class="choose">X</button>
  <button type="button" id="choose-o" class="choose">O</button>
</div> -->

<div id="enemy-screen" class="center" *ngIf="!opponentSelected">
  <h2>Play against:</h2>
  <button
    type="button"
    id="choose-human"
    class="choose"
    (click)="humanButtonClicked()"
  >
    Human
  </button>
  <button
    type="button"
    id="choose-cpu"
    class="choose"
    (click)="cpuButtonClicked()"
  >
    Computer
  </button>
</div>

<div class="row">
  <div class="col-8" *ngIf="opponentSelected">
    <div id="game-screen">
      <table class="table table-bordered center" *ngIf="game">
        <tr>
          <td>
            <button
              type="button"
              class="btn btn-outline-dark cell"
              id="cell0"
              (click)="positionButtonClicked(0)"
              [ngClass]="{
                wincell:
                  game.winningLine === 1 ||
                  game.winningLine === 4 ||
                  game.winningLine === 7,
                cannotuse: game.currentBoard.pos0 !== ''
              }"
              [disabled]="game.currentBoard.pos0 !== ''"
            >
              {{ game.currentBoard.pos0 }}
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-outline-dark cell"
              id="cell1"
              (click)="positionButtonClicked(1)"
              [ngClass]="{
                wincell: game.winningLine === 1 || game.winningLine === 5,
                cannotuse: game.currentBoard.pos1 !== ''
              }"
              [disabled]="game.currentBoard.pos1 !== ''"
            >
              {{ game.currentBoard.pos1 }}
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-outline-dark cell"
              id="cell2"
              (click)="positionButtonClicked(2)"
              [ngClass]="{
                wincell:
                  game.winningLine === 1 ||
                  game.winningLine === 4 ||
                  game.winningLine === 8,
                cannotuse: game.currentBoard.pos2 !== ''
              }"
              [disabled]="game.currentBoard.pos2 !== ''"
            >
              {{ game.currentBoard.pos2 }}
            </button>
          </td>
        </tr>
        <tr>
          <td>
            <button
              type="button"
              class="btn btn-outline-dark cell"
              id="cell3"
              (click)="positionButtonClicked(3)"
              [ngClass]="{
                wincell: game.winningLine === 2 || game.winningLine === 4,
                cannotuse: game.currentBoard.pos3 !== ''
              }"
              [disabled]="game.currentBoard.pos3 !== ''"
            >
              {{ game.currentBoard.pos3 }}
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-outline-dark cell"
              id="cell4"
              (click)="positionButtonClicked(4)"
              [ngClass]="{
                wincell:
                  game.winningLine === 2 ||
                  game.winningLine === 5 ||
                  game.winningLine === 7 ||
                  game.winningLine === 8,
                cannotuse: game.currentBoard.pos4 !== ''
              }"
              [disabled]="game.currentBoard.pos4 !== ''"
            >
              {{ game.currentBoard.pos4 }}
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-outline-dark cell"
              id="cell5"
              (click)="positionButtonClicked(5)"
              [ngClass]="{
                wincell: game.winningLine === 2 || game.winningLine === 6,
                cannotuse: game.currentBoard.pos5 !== ''
              }"
              [disabled]="game.currentBoard.pos5 !== ''"
            >
              {{ game.currentBoard.pos5 }}
            </button>
          </td>
        </tr>
        <tr>
          <td>
            <button
              type="button"
              class="btn btn-outline-dark cell"
              id="cell6"
              (click)="positionButtonClicked(6)"
              [ngClass]="{
                wincell:
                  game.winningLine === 3 ||
                  game.winningLine === 4 ||
                  game.winningLine === 8,
                cannotuse: game.currentBoard.pos6 !== ''
              }"
              [disabled]="game.currentBoard.pos6 !== ''"
            >
              {{ game.currentBoard.pos6 }}
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-outline-dark cell"
              id="cell7"
              (click)="positionButtonClicked(7)"
              [ngClass]="{
                wincell: game.winningLine === 3 || game.winningLine === 5,
                cannotuse: game.currentBoard.pos7 !== ''
              }"
              [disabled]="game.currentBoard.pos7 !== ''"
            >
              {{ game.currentBoard.pos7 }}
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-outline-dark cell"
              id="cell8"
              (click)="positionButtonClicked(8)"
              [ngClass]="{
                wincell:
                  game.winningLine === 3 ||
                  game.winningLine === 6 ||
                  game.winningLine === 7,
                cannotuse: game.currentBoard.pos8 !== ''
              }"
              [disabled]="game.currentBoard.pos8 !== ''"
            >
              {{ game.currentBoard.pos8 }}
            </button>
          </td>
        </tr>
      </table>
    </div>
    <!-- <button type="button" id="restart">Restart</button> -->
    <br /><br />
    <button
      type="button"
      class="btn btn-warning btn-lg"
      value="Reset"
      (click)="resetButtonClicked()"
    >
      Reset
    </button>
  </div>

  <div class="col-4" *ngIf="opponentSelected">
    <div>Row for Scoreboard</div>
    <br /><br />
    <app-messages></app-messages>
  </div>

  <!-- <div class="col-2 col-md-2" *ngIf="opponentSelected">
    Column for Scoreboard
  </div> -->
</div>
